<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/0e33b4f811.js" crossorigin="anonymous"></script>
    <title>MAIN PAGE</title>
</head>

<body>
    <div class="base-container">
        <nav>
            <a href="#">
                <img class="profile-img" src="../img/profileimg.svg">
            </a>
            
            <ul>
                <li>
                    <button class="btn">
                        <i class="fas fa-search"></i>
                    </button>
                </li>
                <li>
                    <button class="btn">
                        <i class="fas fa-home"></i>
                    </button>
                </li>
                <li>
                    <button class="btn">
                        <i class="fas fa-chart-line"></i>
                    </button>
                </li>
                <li>
                    <button class="btn">
                        <i class="fas fa-cogs"></i>
                    </button>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="logo-homepage">
                    <img src="../img/logo.svg">
                </div>
            </header>
            <section class="content">
                <a>Recommended</a>
                <section class="book-section">
                    <div class="book">
                        <img src="../img/uploads/1.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/2.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/3.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/4.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/5.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/6.jpg">
                    </div>
                </section>
                <a>Popular</a>
                <section class="book-section">
                    <div class="book">
                        <img src="../img/uploads/lotr.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/hp1.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/got2.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/got1.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/hp2.jpg">
                    </div>
                    <div class="book">
                        <img src="../img/uploads/got3.jpg">
                    </div>
                </section>
            </section>
        </main>
    </div>
</body>