<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="mainpage">
                <input name="login" type="text" placeholder="login">
                <input name="password" type="password" placeholder="password">
                <input name="repeat-password" type="password" placeholder="repeat password">
                <input name="email" type="text" placeholder="email@email.com">
                <button>SIGN UP</button>
            </form>
        </div>
    </div>
</body>