body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #000000 0%, #d3b300 110%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.logo{
    width: 50%;
    text-align: center;
    min-width: 50em;
}

.logo > img {
    width: 80%;
    
}

.login-container{
    width: 40%;
    min-width: 40em;
    align-self: center;
}

form.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin: 0;
    

    background: #00000059 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 11px;
}

.messages {
    font-size: large;
    color: white;
}

.form-btn {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    justify-content: center;
}

.login-content button, .profile-content button {
    background: #00000066 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;


    border: none;
    color: white;
    margin: 0.5em;
    line-height: 2.5em;
    font-size: 1.25em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 0.5em;
    margin: 1em;
    width: 50%;
    font-size: 1.5em;
}

.login-content p {
    color: white;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}









.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.nav {
    min-width: 4em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: transparent linear-gradient(180deg, #000000 0%, #8a7500 100%) 0% 0% no-repeat padding-box;
}

.nav #logo-nav {
    display: none;
}

.nav #myLinks{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
}

.nav a {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 30px;
}

.nav a:hover{
    color: #777777;
}

@media only screen and (max-device-width: 420px){
    .base-container {
        flex-direction: column;
    }

    .logo-homepage {
        display: none;
    }

    .nav {
        height: auto;
        width: 100%;
        background: black;
        flex-direction: row;
    }

    .nav a {
        margin: 0;
        font-size: 3em;
    }

    .nav #logo-nav {
        display: flex;
    }

    .nav #logo-nav > img {
        width: 300px;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 30px;
    }

    .nav #myLinks{
        margin: 0;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }
}






main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(180deg, #000000 0%, #d3b300 110%) 0% 0% no-repeat padding-box;
}

main > header {
    align-self: stretch;
}

.logo-homepage {
    margin-left: auto;
    text-align: right;
    
}

.logo-homepage > img {
    width: 10em;
    margin: 2em 2em;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}

.book {
    margin: 35px;
    flex-wrap: wrap;
    background: white;

    display: flex;
    flex-direction: column;
}

.book > img {
    width: 15em;
    height: 22em;
    box-shadow: 3px 2px 2px 1px black;

}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: darkgrey;
}
::-webkit-scrollbar-track{
    background: none;
    border-radius: 10px;

}

@media only screen and (max-device-width: 420px){
    ::-webkit-scrollbar{
        display: none;
    }



}







.profile-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-evenly;
}

.profile-img, .profile-info {
    min-width: 40em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.profile-info > form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;

    background: #00000059 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 11px;
    padding-bottom: 1em;
}

.profile-img > img {
    height: 20em;
    margin: 2em;
}

.profile-info > form > a {
    color: white;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-device-width: 420px){
    .profile-img {
        margin-top: 10em;
        margin-bottom: 10em;
    }

    .profile-content > button {
        font-size: 2em;
    }

}













section.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-form > form {
    display: flex;
    flex-direction: column;
    align-self: center;

}

.book-form button {
    background: #00000066 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;

    width: 20%;
    border: none;
    color: white;
    margin: 0.5em;
    line-height: 2.5em;
    font-size: 1.25em;
    align-self: center;
}

.book-form input, .book-form textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid darkgray;
    padding: 0.5em;
    margin: 1em;
    width: auto;

    font-size: 1.5em;
}

.book-form h1 {
    color: whitesmoke;
    font-size: 40px;
    text-decoration: underline darkgray;
    font-style: italic;
    font-family: fantasy;
    margin: 30px;
}

::placeholder {
    color: darkgray;
}



.searchBox {
    position: absolute;
    top: 7em;
    left: 4.5em;
    height: auto;
    width: 20em;
    display: none;


    background: #00000059 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 11px;
}

.searchBox input {
    background-color: darkgrey;
    width: 75%;
}

.dimness {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);

    display: none;
}

.bookInfo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 45em;
    width: 65em;
    background: #d3b300;
    align-self: center;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.bookImg {
    width: 50%;

    display: flex;
}

.bookImg img {
    width: 25em;
    height: 40em;

    align-self: center;
    margin-left: 3em;
}

.bookContent {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.bookContent a {
    font-size: 1.5em;
    margin: 0.5em;
}

.bookContent button {
    background: #00000066 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 7px;

    width: 40%;
    border: none;
    color: white;
    margin: 0.5em;
    line-height: 2.5em;
    font-size: 1.25em;
    align-self: center;
}